<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
      
    <mapper namespace="cn.gitv.bi.hadoop.impala.mapper.GitvMapper">  
    
     <resultMap type="GitvLogOriginal" id="gitvLogOriginal" >
        <result column="ip" property="ip"/>
        <!--  <result column="partner_code" property="partnerCode"/> -->
       
    </resultMap> 
      
        <!-- 使用sql标签可以将公共的sql提取出来复用 -->  
       <!--  <sql id="queryFields">  
          ip  
        </sql> -->  
          
        <select id="getLog"  resultMap="gitvLogOriginal">  
            select  *  
           <!--  <include refid="queryFields"/>    -->
            from pb_clean.gitv_log_original where logdate="2015-06-18" limit 10  
        </select>  
     
       
          
    </mapper>  
